package {{package}};

import {{invokerPackage}}.CollectionFormats.*;

{{#useRxJava}}import rx.Observable;{{/useRxJava}}
{{#useRxJava2}}import io.reactivex.Observable;{{/useRxJava2}}
{{#doNotUseRx}}import retrofit2.Call;{{/doNotUseRx}}
import retrofit2.http.*;

import okhttp3.RequestBody;

{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

{{#usePlay24WS}}
import play.libs.F;
import retrofit2.Response;
{{/usePlay24WS}}

{{#usePlay25WS}}
import java.util.concurrent.*;
import retrofit2.Response;
{{/usePlay25WS}}

{{#usePlay26WS}}
import java.util.concurrent.*;
import retrofit2.Response;
{{/usePlay26WS}}

{{#operations}}
public interface {{classname}} {
  {{#operation}}
  /**
   * {{summary}}
   * {{notes}}
  {{#useQueryMap}}
   * @param queryParams Map of query parameters as name-value pairs
   *   <p>The following elements may be specified in the query map:</p>
   *   <ul>
          {{#queryParams}}
   *       <li>{{paramName}} - {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}</li>
          {{/queryParams}}
   *   </ul>
  {{/useQueryMap}}
  {{#allParams}}
    {{^isQueryParam}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/isQueryParam}}
    {{^useQueryMap}}
        {{#isQueryParam}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
        {{/isQueryParam}}
    {{/useQueryMap}}
  {{/allParams}}
   * @return Call&lt;{{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Object{{/returnType}}&gt;
   */
  {{#formParams}}
  {{#-first}}
  {{#isMultipart}}@retrofit2.http.Multipart{{/isMultipart}}{{^isMultipart}}@retrofit2.http.FormUrlEncoded{{/isMultipart}}
  {{/-first}}
  {{/formParams}}
  {{^formParams}}
  {{#prioritizedContentTypes}}
  {{#-first}}
  @Headers({
    "Content-Type:{{mediaType}}"
  })
  {{/-first}}
  {{/prioritizedContentTypes}}
  {{/formParams}}  
  @{{httpMethod}}("{{{path}}}")
  {{^usePlay26WS}}{{^usePlay25WS}}{{^usePlay24WS}}{{^doNotUseRx}}Observable{{/doNotUseRx}}{{#doNotUseRx}}Call{{/doNotUseRx}}{{/usePlay24WS}}{{/usePlay25WS}}{{/usePlay26WS}}{{#usePlay24WS}}F.Promise<Response{{/usePlay24WS}}{{#usePlay25WS}}CompletionStage{{#useRawResponse}}<Response{{/useRawResponse}}{{/usePlay25WS}}{{#usePlay26WS}}CompletionStage{{#useRawResponse}}<Response{{/useRawResponse}}{{/usePlay26WS}}<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Object{{/returnType}}>{{#usePlay24WS}}>{{/usePlay24WS}}{{#usePlay25WS}}{{#useRawResponse}}>{{/useRawResponse}}{{/usePlay25WS}}{{#usePlay26WS}}{{#useRawResponse}}>{{/useRawResponse}}{{/usePlay26WS}} {{operationId}}({{^allParams}});{{/allParams}}
  {{#useQueryMap}}
            @QueryMap(encoded=true) Map<String, String> queryParams{{^queryParamsOnly}}, {{/queryParamsOnly}}{{#allParams}}{{>libraries/retrofit2/pathParams}}{{>libraries/retrofit2/headerParams}}{{>libraries/retrofit2/bodyParams}}{{>libraries/retrofit2/formParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}
  );
  {{/useQueryMap}}
  {{^useQueryMap}}
      {{#allParams}}{{>libraries/retrofit2/queryParams}}{{>libraries/retrofit2/pathParams}}{{>libraries/retrofit2/headerParams}}{{>libraries/retrofit2/bodyParams}}{{>libraries/retrofit2/formParams}}{{#hasMore}}, {{/hasMore}}{{^hasMore}}
  );{{/hasMore}}{{/allParams}}
  {{/useQueryMap}}

  {{/operation}}
}
{{/operations}}
